@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  background: rgb(84, 130, 230);
  font-family: "Lato", sans-serif;
  font-size: 22px;
  height: 100vh;
  color: #fff;
}

ul {
  color: #f4f4f4;
  list-style: none;
}
a {
  color: #f4f4f4;
}
.container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.table {
  border: 2px solid #fff;
  padding: 30px 40px;
}
.table td {
  border: 2px solid #fff;
}

button {
  flex: 1;
  border-radius: 5px;
  border: 2px solid rgb(126, 160, 126);
  height: auto;
  background-color: rgb(231, 114, 206);
  font-weight: 500;
  padding: 12px;
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;
  width: auto;
}
